body{ 
    background-color: black;
}

.cover{ 
    background-image:url("../images/5.png");
    background-repeat: no-repeat;
    background-size: cover;

}

ul li{
   display: inline;
    color: white;
    font-size: 25px;
    position: relative;
    bottom: 100px;
    left: 350px;
    margin-inline-start: 40px;
}

.logo {width: 150px;
margin-top: 0%;
}
.boton1 {width: 380px;}
.boton2 {width: 380px;}
.boton3 {width: 380px;}
.boton4 {width: 380px;}
.cover2 {
background-image: url("../images/6.png");
background-repeat: no-repeat;
background-size: cover;
}
.seccion2 {width: 380px;}
.seccion22 {width: 380px;}
.seccion23 {width: 380px;}
.seccion24 {width: 380px;}
.cover3 {
background-image: url("../images/7.png");
background-repeat: no-repeat;
background-size: cover;
}
.seccion3 {width: 380px;}
.seccion32 {width: 380px;}
.seccion33 {width: 380px;}
.seccion34 {width: 380px;}
.cover4 {
background-image: url("../images/8.png");
background-repeat: no-repeat;
background-size: cover;
}
.seccion4 {width: 380px;}
.seccion42 {width: 380px;}
.seccion43 {width: 380px;}
.seccion44 {width: 380px;}